.disabled-segment {
  opacity: 0.5;
}
.has-extra-segments {
  background-color: #00000024;
}
.segment-original-status {
  border-radius: 10px;
  padding: 1px 7px;
  width: max-content;
}
.segment-original-status-default {
  background-color: #0075075e;
}
.segment-original-status-overriden {
  background-color: #8c7700a3;
}
.segment-original-status-orphan {
  background-color: #0058ff9c;
}
